In [15]:
list1 = [1,2,3,15,4]

In [16]:
list1.sort()

In [18]:
list1

[1, 2, 3, 4, 15]

Finding the maximum number out of list

In [19]:
list1[-1]

15

Finding the minimum number out of list

In [22]:
list1[0]

1

Finding the second largest number

In [23]:
list1[-2]

4

Finding the second minimum number out of list

In [24]:
list[1]

2

In [20]:
list = [12,11,15,9,10,13,18,27,37]

In [26]:
a = list[0]
b = list[1]

# Finding the largest number

In [35]:
largest = 0
for i in range(len(list)):
    if largest < list[i]:
        largest = list[i]
print(largest)

15

# Finding the second largest number

In [53]:
a = list[0]
b = list[1] 
if a>b:
        largest = a
        second_largest = b
else: 
        largest = b
        second_largest = a 
for i in range(2,len(list)):              
    if largest < list[i]:
        second_largest = largest
        largest = list[i]
    elif second_largest < list[i]:
        second_largest = list[i]
        
print(largest)
print(second_largest)

37
27

# Finding the smallest number

In [36]:
list = [14,12,16,13,20,25,55,10,9]

In [22]:
a = list[0]
for i in range(1,len(list)):
    if a > list[i]:
        a = list[i]  
print(a)

12

# Finding the second smallest element

In [37]:
a = list[0]
b = list[1]
if a < b:
    smallest = a 
    second_smallest = b 
else: 
    smallest = b
    second_smallest = a
    
for i in range(2,len(list)):
    if smallest > list[i]:
        second_smallest = smallest
        smallest = list[i]
       
    elif second_smallest > list[i]:
        second_smallest = list[i]
        
print(second_smallest)
print(smallest)

10
9

In [14]:
list = [4, 7, 8, 0, 8, 4, 2, 9, 4, 8, 4]
pos1 = 4
pos2 = 8
temp1 = list[pos1]
temp2 = list[pos2]
list[pos1] = temp2
list[pos2] = temp1
print(list)

[4, 7, 8, 0, 4, 4, 2, 9, 8, 8, 4]

## Python Program for Factorial

In [125]:
def factorial(n): 
    if n > 0:
        fact = 1 
        while n > 0:
                fact *= n 
                n = n-1
        return fact
    else:
       print('Please enter the positive number.')

In [126]:
factorial(0)

Please enter the positive number.

In [128]:
factorial(10)

3628800

In [129]:
factorial(5)

120

## Program for Fibonacci series for nth number

In [144]:
def fibonacci(n):
    f = [0,1]    
    for n in range(2,n):
        f.append(f[n-1]+f[n-2])
    return f[n]

In [146]:
fibonacci(10)

34