<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/Edits/Python_basics_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

This file illustrates the key conceepts involved in the utilisation of NUmpy library.

In [1]:
import numpy as np

In [16]:
a = np.arange(12).reshape(3, 4,1)

Shape of numpy array:

In [ ]:
Shape = a.shape
Dim = a.ndim
Data_type = a.dtype.name

print('The shape of the ndarry a is', Shape)
print('The dimension of the ndarry a is', Dim)
print('The data type of the array a is', Data_type)

**Creating Array**

Python Sequence to numpy array

In [6]:
a1D = np.array([1, 2, 3, 4])

In [10]:
# NumPy array creation functions
r = np.arange(10)
r_1 = np.linspace(1., 4., 6)

In [ ]:
# Replacing and joining the array
#q= np.block([[A, B], [C, D]])

# Write the marks of the class
# Double
marks = [40, 35, 26, 25, 54]

#new_list1 = marks*2
#new_list2 = marks+10
new_list1 = []

for a in marks:
    new_list1.append(a*2)

new_list2 = []

for a in marks:
    new_list2.append(a+10)

In [ ]:
marks_np = np.array(marks)  # Check the data type
type(marks_np)

new_list1 = marks_np*2
new_list2 = marks_np+10
new_list3 = marks_np*2+10

In [ ]:
# Indexing and slicing is also possible using ndarray

marks_1= marks_np[1] # Marks of first student 
print(marks_1)

# Slicing is also possible
# Marks of the students from 2 to 10
marks_2= marks[2:4]

array_a = np.array([1,2,3,4,5])
array_b = np.array([8,9,10,11,12]) 

array_sum=array_a+array_b # Adding corresponding elements of an array
array_multiply = array_a*array_b

array_a.dtype # Find the data type of elements
array_b.dtype

In [ ]:
numbers = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
numbers[1,2]  # indexing 
q=numbers[0:2,3] # indexing and slicing

In [ ]:
numbers.shape
numbers.ndim
array_a.ndim

In [ ]:
# Changing the data type from int to float
array_a= array_a.astype('float')
array_b = array_b.astype('float')
array_a.shape

In [ ]:
numbers = np.array([[6, 10, 14, 18], [10, 7, 14, 11], [15, 12, 6, 14]])

# Methods using OOP
numbers.max()    # method of OOP
numbers.max(0)   # Max. along coloumn

numbers.max(1)   # Max. along row
numbers.mean()  # Calculating the mean 

numbers.std()   # Standard deviation
r=np.histogram(numbers)

numbers.min()
numbers.min(0)  
numbers.min(1)  
numbers.sum(0)

In [ ]:
# Without using OOP

np.max(numbers, axis=0) # Along column
np.max(numbers, axis=1)  # Max. value along row

In [ ]:
# numpy with boolean 
a= [1,2,3,4,5]
a>4

import numpy as np
b= np.array(a)
b > 4

num = [1,4,8,7,9]
num > 3

num1= np.array(num)
num1 > 3

Using math library

In [ ]:
import math
x= [1,2,4,5]
a= 0.1

y= math.sin(x-a)/x

Creating the numpy array with constant interval.

In [ ]:
list_1 = list(range(10))
list_2 = list(range(3,10,2))
list_3 = list(range(3,10,1))

list_array_1 = np.arange(3,10,2)
list_array_2 = np.arange(3,10,0.01)
list_array_3 = np.arange(0.3,10,0.2)

# Number of points using linespace
list_array_4= np.linspace(0, 1, 1000)

print(list_array_1)

In [ ]:
import numpy as np
a = 5
x = np.linspace(1, 10, 1000)
y = np.sin(x-a)/x
id(y)
x=y
id(x)
# id provides a reference to the memory location where the object is stored

Id provides a reference to the memory location where the object is stored

NumPy views and copies

In [10]:
# NumPy views and copies
# Copy of the ndarray
numbers = np.array([[6, 10, 14, 18], [10, 7, 14, 11], [15, 12, 6, 14]])
numbers_view = numbers[2:]
numbers_copy= numbers.copy()

Plotting with the numpy array using matplotlib.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
a = 25

x = np.linspace(1, 10, 10000)
y = np.sin(x-a)/x
plt.plot(x, y)
plt.show()

y = np.cos(x-a)/x
plt.plot(x, y)
plt.show()

y = np.exp(x-a)/x
plt.plot(x, y)
plt.show()

Loading the text data from csv file in ndarray.

In [ ]:
import numpy as np
data = np.loadtxt("mean_daily_temperatures_from_1772.csv", delimiter=",", dtype=int)
print(data)
data[0,13]
data[0,:]
data[:,0]
column_2= data[:,1]
print(column_2)