<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/Edits/Python_basics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

Tuple is one of the data types used in the Python. The following lines of the code depicts it using various examples:

In [ ]:
t = 12345,'Ram','12345'

Printing the tuple 't'

In [ ]:
print(t)

The element inside the tuple can be accessed with the help of its indices.

In [ ]:
t[2]

Trying to access the out of bound element of the tuple:

In [ ]:
t[4]

Tupels are immutable. We can understand it with the help of following example:

In [ ]:
t[0] = 'Ramesh'

**Tupels can be nested.** 
In the following example, the tuple 't' has been used as one of the elements of the tuple z.

In [ ]:
z= (t,(1,2,3,4,5,6))
print(z)

The elements inside the nested tuple can be found as follows:

In [ ]:
z[0][1]

In [ ]:
z[1][2]

**Tuple packing:**

In [ ]:
x,y,z = t

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
print(z)

We can compare the tuples using using inequality symbols. The following example illustrates this:

In [ ]:
(1, 5,3) < (1, 5, 4)

#Sets

A Set is an unordered collection with no duplicate.

In [ ]:
Furniture = {'Table','Chair','Sofa', 'Table'}
print(Furniture)

The set can not be accessed by using its index.

In [ ]:
Furniture[1]

In [ ]:
'Table' in Furniture

In [ ]:
'fruit' in Furniture

In [5]:
s = set()

In [ ]:
print(s)

Let us understand sets operation with the help of an example.

A= {1,2,3,4,5,6,7,8,9,10}

In [7]:
A= {1,2,3,4,5,6,7,8,9,10}

In [8]:
B= {10,11,12,13,15,14,15}

In [ ]:
print(B)

The letters in a or b but not both

In [10]:
C= A ^ B

In [ ]:
print(C)

In [ ]:
E= A.union(B)
print(E)

The intersection of the two sets is represented as follows:

In [ ]:
A_IN_B= A.intersection(B)
print(A_IN_B)

Subtracting the set B from set A:

In [ ]:
print(A-B)

Subtracting the set B from set A:

In [ ]:
print(B-A)

Union of two sets is performed as follows:

In [ ]:
print(A | B)

Intersection of the two sets:

In [ ]:
print(A & B)

Converting string to Set Conversion:

In [ ]:
A = set('Python')
A

Converting list to set data types:

In [ ]:
B= set([1,2,3,4,5,6])
print(B)

Tuple to set

In [ ]:
C= set((1,2,3))
print(C)

#Dictionaries

In [ ]:
A = {2221:'Manish',2222: 'Ramesh', 2223: 'Dilip'}

In [ ]:
A[2223]

The elements of the dictionary can not be accessed using index. It can be illustrated with the help of following example:

In [ ]:
A[0]

In [ ]:
A[2221] = 'Ram'

In [ ]:
A

In [ ]:
A[2221]= 'Dhairya'

In [ ]:
sorted(A)

The dictionary can be created by using the function dict(). It can be illustrated as follows:

In [ ]:
dict([('Ramesh',1),('Dilip',2),('Manish',3)])

Another way to create dictionary:

In [ ]:
{x: x**2 for x in (4,5,6)}

In [ ]:
A.items()

looping through dictionaries:

In [ ]:
for id,name in A.items():
  print(name,id)

To loop over two or more sequences at same time, we can use zip function. It can be illustrated by following function:

In [ ]:
Name = ['Manish','Dilip', 'Rahul','Gaurav','Sarita']
Salary = [20000,15000,16000,17000,18000]

In [ ]:
for name,salary in zip(Name, Salary):
  print('The salary of {0} is {1}.'.format(name,salary))

Comparing Sequences:

In [ ]:
[6,7,8,8] < [6,7,8,9]