<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/Edits/Python_basics_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class and Objects

The present notebook give insights to the class and object creation using Python.

The following code illustrates the class 'Student',

In [52]:
class Student:                # Class name should start with capital letter.
    def __init__(self, name, roll_number,semester, course, department):       
        self.name = name
        self.roll_number = roll_number
        self.semester = semester
        self.course = course
        self.department = department
    def upgrade(self, semester):     
        self.semester += 1        
    def student_detail(self):
        print(f" Name of the student: {self.name} | Roll no. of student : {self.roll_number}")
    def __str__(self):
        return f"{self.name} | Selling Price: ₹{self.roll_number}"

Creating the object **Student_1**, which is instance of the class **Student**.

In [55]:
Student_1 = Student('Ramesh Kumar',14,1,'M.Tech.', 'AI')

In [56]:
Student_1.name

'Ramesh Kumar'

In [57]:
Student_1.course

'M.Tech.'

In [58]:
Student_1.upgrade(1)

In [59]:
Student_1.semester

2

In [50]:
Student_1.student_detail()

 Name of the student: Manish | Roll no. of student : 14

In [51]:
print(Student_1)

Manish | Selling Price: ₹14