<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/Edits/Python_basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook gives the insights to conditional statements, various looping techniques like for loop, while loop, and function creation.

# If else statements

Learning with **If else statements**:

In [1]:
x = int(input('Please enter an integer:')); 
if x > 0:
  print('The number entered by user is positive');
elif x == 0:
  print('The number entered by user is zero');
else:
  print('The number entered by user is negative.');

Please enter an integer:-13
The number entered by user is negative.

# Looping techniques

##for loop

In [ ]:
Students = ['Garima', 'Dilip', 'Rahul']
for n in Students:
    print(n, 'is a student of AI class.')

The range function is also used with the for looping through the loop,which is illustared by the examples:

In [ ]:
for i in range(10):
  print(i)

In [7]:
list(range(16))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
list(range(3,16))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

The following example prints the number varying from -4 to 8 with constant the constant interval of 2:

In [9]:
list(range(-4,8,2))

[-4, -2, 0, 2, 4, 6]

In [10]:
for i in range(len(Students)):
  print(Students[i], 'is the student of AI class.')  # printing the every element of the list.

Garima is the student of AI class.
Dilip is the student of AI class.
Rahul is the student of AI class.

In [11]:
for i in range(len(Students)):
  if Students[i] == 'Hritik':
     print(Students[i], 'is the student of AI class.')

##while loop

**Learning with while loop.**

In [ ]:
a=0
while a <= 20:
  a=a+1 
  print(a)

In [ ]:
while True:
    pass

**Fibonacci numbers:**

In [14]:
a, b = 0, 1;
while a < 25:
  print(a,end= ',');
  a,b = b,a+b;

0,1,1,2,3,5,8,13,21,

# Function creation

**Function Creation and its application in Python**

The keyword 'def' is used to introduce the function definition.

In [15]:
def hello(name):                # Hello function
  print('Hello!', name, 'welcome to the class of function creation and its application');

Let us call the function 'hello' by passing the arguement through this function.

In [16]:
a = 'Samita'
hello(a)

Hello! Samita welcome to the class of function creation and its application

In [17]:
b= 'Manish'

**Write a function for fibonacci series up to n**

In [19]:
# The function starts with the keyword def. 
def fib(n):                      # Input (parameter) is placed inside the parathensis, here it is 'n'
  a, b = 0,1;                     
  while a < n:
    print(a,end= ',');
    a, b = b, a+b;

**Let us call the function fib.**

In [20]:
fib(30)

0,1,1,2,3,5,8,13,21,

In [21]:
f = fib;

In [22]:
print(f(10))       # Functions without return statement also return (None)

0,1,1,2,3,5,8,None

**Function with return value**

The variable (to be returned) can be returned by placing the value of variable along with return statement.

In [ ]:
def fib3(n):                   # Defining the function
    result = []                # Declare the list value as empty list
    a, b = 0, 1
    while a < n:
        result.append(a)           
        a, b = b, a+b
    return result              # Result is returned when the function is called

In [ ]:
fib3(40)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
print(fib3(40))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

The variable number of arguements can also be passed through the function. The following example illustrates the function with varialbe number of arguements:

In [23]:
def ask(prompt,retries=4,reminder='Please try again!'):    # Atleast one arguement is required
    while True:
        ok = input(prompt)                       # The purpose of input is take the input from the user through keyboard
        if ok in ('y', 'ye', 'yes'):             # The purpose of 'x in y' is to check weather x is substring of y.
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [24]:
ask('Do you like Python ?')

Do you like Python ?y

True

In [ ]:
ask('Do you want to Study?')

In [ ]:
ask('Do you want to Study?',retries=2)

In [ ]:
r1 = 10;
def f(arg = r1):
  print(arg);

In [ ]:
r3= 500
f(r3)