<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/edits/Python_basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arthimatic operations

The following code illustrates the basic mathematical operationals like addition, subtration and multiplication.

In [ ]:
a = 10;
b = 3;
c = a+b; # Sum of a and b
d = a-b; # Subtraction of two numbers
e = a*b  # Multiplication

print('The addition of the numbers', a, 'and', b, 'is', c);
print('The subtraction of the numbers', a, 'and', b, 'is', d);
print('The multiplication of the numbers', a, 'and', b, 'is', e);

Similar to the above stated basic arithematic operations, we can also perform other arthimatic operations like: square, power of a number, division, remainder.

In [ ]:
k = a ** 2        
g = a ** b       
h = a/b          
i = a // b
j = a % b    # Modulus in Python
print('The square of the numbers', a,'is', k);     
print(a,"raised to the power", b ,'is', g);
print(a, "divided by ",b,'is', h);
print('The floor division of',a,'and',b,'is',i)
print('The remainder obtained after dividing',a,'by',b,'is',j)

The example below demonstrates the basics of the python Programming. Here we have calculated the Simple interest using basic formula.Through these simple examples one can learn the basics of Python Programming.

In [26]:
Rate = 10 
Time = 0.5
Principal = 5000
Interest = (Rate *Time * Principal)/100

# String Operations

String can be written by enclosing characters within **single** and **double** quotes. The next few lines illustrates this.

A string is enclosed in **single** quote:

In [ ]:
'Learning Python'

A string is enclosed in **double** quote:

In [ ]:
"Learning Python"

If the string includes multiple lines, then that particular string can be included in the triple double quotes. It can be depicted as follows:

In [ ]:
"""String can be written by enclosing characters within single and double quotes. 
The next few lines illustrates this."""

We can use backslash with character in string to perform different operations. For example: 
1. '\n' is used for writing in the new line.

In [ ]:
print("I am learning Python. \nIt is very interesting.");

2. '\t' is used to add white spaces in the string.

In [ ]:
print('I am learning Python.\tIt is very interesting.');

If you do not want special characters to be evaluated, then you can use r before first quote.

If we do not put r in front of the string.

In [ ]:
print('C:User\time\name');

In [ ]:
print(r'C:User\time\name');

If there are multiple lines of string...

In [ ]:
print("""It is easy to learn Python.
Further, it is very useful programming language in present era.""");

**Concatination** of the string can be done by following ways:
1. Placing the string laterals together.
2. Putting the '+' sign in between the strings.
3. Strings can be repeated by putting the sign '*'.

In [ ]:
print('P''y''thon')

In [ ]:
'Py'+'thon'

In [ ]:
3*'Py'+'thon'

In [ ]:
3*'Py'+ 2*'thon'

Strings can be indexed with the first character having place value zero.

In [ ]:
w= 'Python'
print(w)

In [ ]:
w[1:]

In [ ]:
w[1]

The index can be negative as well. W[-1] means last character of string.

In [ ]:
w[-1]

In [ ]:
w[-3]

In [ ]:
w[2:]

In [ ]:
w[2:5]

Python strings are immutable, i.e., the character of string can not be replaced by using its index.

In [ ]:
w[0]= 'R';

We can create new string by concatenating with the previous one.

In [ ]:
'R'+w[1:]

The length of the string can be calculated by the function 'len'.

In [ ]:
print('The length of the string w is:', len(w));

# List Operations

**List** contains multiple values in the single variable (items separated by the comma in square bracket).

In [ ]:
Natural_number= [1,2,3,4,5];
Natural_number[2]

We can also store strings in the list.

In [ ]:
l = ['a','b','c','d','e','f'];
l[5]

Concatenation of the lists is also possible similar to the string.

In [ ]:
l+Natural_number

We can add more elements in the list by using function 'append'.

In [ ]:
Numbers = [1,2,2,4];
Numbers.append(12); 
Numbers

In [ ]:
A=[1,2,3,4,5,6,7,8,9,10]
print(A[-1:-5])

Replacement of the item within list is possible using indexing.

In [ ]:
Numbers[3] = 50;
Numbers

We can also find the lengh of the list with the same function len.

In [ ]:
print('The length of the list (Number) is:', len(Numbers));

It is also possible to nest the list.

In [ ]:
Nested_list = [Natural_number,l];
Nested_list

Finding the elements in the nested list.

In [ ]:
Nested_list[0][3]

In [ ]:
Nested_list[0][3]

Printing the numbers less than 10 and greater than 1 using while statement.