<a href="https://colab.research.google.com/github/Manish142/Python_basics/blob/Edits/Python_basics_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [1]:
import pandas as pd
import numpy as np

## Series

It is one dimensional array with data types like: Numpy,pandas,integers.String.

In [2]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [ ]:
print(s)

In [ ]:
pd.Series(np.random.randn(5))

In [7]:
d = {"b": 1, "a": 0, "c": 2}

In [12]:
series = pd.Series(d)  # Series using dictionary

In [13]:
print(series)

b    1
a    0
c    2
dtype: int64

In [15]:
series[0]             #Acessing the first element of the series

1

In [16]:
series.dtype

dtype('int64')

The following example illustrates a way to convert series to numpy:

In [17]:
series.to_numpy()

array([1, 0, 2])

### Series is like dictionary.

In [18]:
series['b']

1

## DataFrame

DataFrame is a two dimenstional data structure. It is having both rows and columns.

In [31]:
dict = { 
    "Ram": pd.Series(np.array([10,12,15]), index=['Hindi','English','Math']),
    "Krishan": pd.Series(np.array([11,18,14]), index=['Hindi','English','Math'])
}

In [32]:
df = pd.DataFrame(dict)

In [33]:
print(df)

         Ram  Krishan
Hindi     10       11
English   12       18
Math      15       14

Creating a new dataFrame from the existing dataFrame:

In [34]:
df1 = pd.DataFrame(df,index = ['English','Hindi'])

In [35]:
print(df1)

         Ram  Krishan
English   12       18
Hindi     10       11

Changing the rows and columns:

In [36]:
pd.DataFrame(df, index = ['English'], columns = ['Krishan','Ram'])

         Krishan  Ram
English       18   12

In [38]:
df.columns

Index(['Ram', 'Krishan'], dtype='object')

In [39]:
df.index

Index(['Hindi', 'English', 'Math'], dtype='object')